.devheader-area{
    border-radius: 0 0 300px 300px;
    margin-bottom: 2%;
    position: relative;
    background-color: #1976d2;

}

/* .devdet-wrap{
    background-color: white; 
    position: relative;
} */

.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmcfdet-logo {
    width: 120px;
    height: 80px;
    padding: 10% 0.5%;
    display: block;
}

.developer-pic {
    border-radius: 50%;
    width: 110px;
}

.developer-name{
    font-weight: 800;
    font-size: large;
    color: white;
    padding: 3% 5%; 
    border-radius: 15px;
    text-align: center;
}

.devwhite-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 0;
}

.dev-details {
    margin: 8px auto;
    font-size: medium;
    padding: 2% 18%;
    font-weight: 500;
    font-size: 16px; 
}

.box_dev-text {
    /* width: 110px; */
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 1% 2%;
    border-radius: 15px;
    background-color: #313335;;
    border: 3px #CACCCE solid;
    color: white;
}

.backdev-icon {
    position: absolute;
    padding: 1%;
    margin-left: 10%;
    margin-top: 5%;
    background-color: #CACCCE;
    border-radius: 8px;
    color: black;
}

.backdev-icon:hover{
    background-color: white;
    color:black;
}

@media screen and (max-width: 768px) {
    .devheader-area{
        border-radius: 0px 0px 0px 0px;
    }
    .developer-name {
        font-weight: 700;
        font-size: medium;
    }
    .box_dev-text {
        font-size: 13px;
        font-weight: 400;
    }
    .dev-details {
        font-size: 13px;
        font-weight: 400;
    }
}