.MuiCardContent-root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077B5 ;
    color: white;
    margin: 3%;
    border-radius: 12px;
    padding-bottom: 16px !important;
    position: relative;
}

.MuiTypography-root{
    font-family: 'Roboto Mono', monospace !important;
    font-weight: 800 !important;
    text-align: center;
}

.MuiCard-root, .MuiPaper-root {
    background-color: #CACCCE !important;
    border-radius: 12px !important;
    position: relative;
}

.link{
    text-decoration: none;
}

.grid-container {
    padding: 0% 7% 5%;
}

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% auto;
}

.MuiButton-root {
    margin: 0 2% !important;
    font-size: 1rem !important
}

.blue-text{
    color: #9BDAF3  !important;
}

.sort-text{
    font-size: 1rem;
}

.my-projects-grid-container{
    margin: 0 5% 4%;
}


.edit-project{
    border: 2px solid #313335;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
    color: #313335;
    background-color: #CACCCE;
}

.add-icon {
    padding: 0% 3%;
    color: #313335;
    font-size: 4rem !important;
    border: 2px solid #313335;
    border-radius: 8px;
}

.filter-container-small{
    margin: 7% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sort-text-small{
    font-size: 14px;
    margin:  0 0 3%;
}