.MuiCardContent-root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    color: white;
    margin: 3%;
    border-radius: 12px;
    padding-bottom: 16px !important;
    position: relative;
}

.MuiTypography-root {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600 !important;
    text-align: center;
    word-spacing: 5px;
}

.MuiCard-root,
.MuiPaper-root {
    background-color: #CACCCE !important;
    border-radius: 12px !important;
    position: relative;
}

.link {
    text-decoration: none;
}

.user-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid-container {
    padding: 0% 7% 5%;
}

.filter-container {
    margin: 2.5% 5%;
}

.MuiButton-root {
    margin: 0 10px !important;
    font-size: 1rem !important;
    width: auto;
}

.blue-text {
    color: #90caf9 !important;
}

.sort-text {
    font-size: 1rem;
}

.my-projects-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5% 4%;
}


.edit-project {
    border: 2px solid #313335;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 3%;
    color: #313335;
    background-color: #CACCCE;
}

.add-icon {
    padding: 0% 3%;
    color: #313335;
    font-size: 4rem !important;
    border: 2px solid #313335;
    border-radius: 8px;
}

.filter-container-small {
    margin: 7% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sort-text-small {
    font-size: 14px;
    margin: 0 0 3%;
}

.project-heading {
    font-weight: 800;
    margin-top: 2.5%;
    text-align: center;
}


.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c{
    margin: 0 5% !important;
}