.white-area{
   
    border-radius: 0 0 300px 300px;
    margin-bottom: 2%;
    position: relative;
    background-color: white; 
}

.investdet-wrap{
    background-color: #1967d2;
    position: relative;
}

.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmcfblue-logo {
    width: 180px;
    height: 80px;
    padding: 10% 0.5%;
    display: block;
}

.investor-pic {
    border-radius: 50%;
    width: 110px;
}

.investor-name{
    background-color: #1967d2;
    color: white;
    padding: 3% 5%; 
    border-radius: 15px;
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

.blue_inv-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    background-color: #1967d2;
    margin: 0;
}

/* pitch me your coffee */
.pitch-coffee{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    font-size: medium;
    padding: 0.75%  4%;
    background: #FFFFFF;
    margin: 5% 2% 10% 2%;
    border: 3px solid #CACCCE;
    border-radius: 10px;
}

/* details of the invest - text */
.invest-details {
    padding: 3% 18%; 
    margin: 4% 2%;
    font-weight: 500;
    font-size: 16px;
}

.invest-list-details{
    font-weight: 500;
    font-size: 16px;
    margin: 2% 2%;
}

/* details of the project - box text */
.box_i-text {
    /* width: 110px; */
    text-align: center;
    padding: 1% 0.5%;
    margin: 2% 2%;
    font-size: 16px ;
    font-style: bold;
    font-weight: 500;
    border-radius: 15px;
    background-color: white;
    border: 3px #CACCCE solid;
    color: #313335;
}


.pitch-coffee:focus, .pitch-coffee:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.back2-icon {
    position: absolute;
    padding: 1%;
    margin-left: -80%;
    margin-top: 4%;
    background-color: #CACCCE;
    border-radius: 8px;
}

.back2-icon:hover{
    background-color: #1967d2;
    color: white
}

@media screen and (max-width: 768px) {
    .white-area {
        border-radius: 0px 0px 0px 0px;
    }
    .investor-name{
        font-weight: 700;
        font-size: 13px;
    }

    .box_i-text{
        font-size: 13px ;
        font-weight: 400;
    }

    .invest-details{
        font-weight: 400;
        font-size: 13px;
    }
    
    .invest-list-details{
        font-weight: 400;
        font-size: 13px;
    }
}