@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
.navbar-link-container{
    position: relative;
    background-color:#0077B5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1.5%;
}
.nav-link{
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 0 2%;
    font-family: 'Roboto Mono', san;
}

.project{
    color: white
}
.project:hover{
    color:black;

}
.link-container{
    position:relative;
    width: fit-content;
}

.brand-logo{
    max-height:40px; 
}


