.white-area{
   
    border-radius: 0 0 300px 300px;
    margin-bottom: 2%;
    position: relative;
    background-color: white; 
}

.projdet-wrap{
    background-color: #1967d2;
    position: relative;
}

.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bmcfblue-logo {
    width: 180px;
    height: 80px;
    padding: 10% 0.5%;
    display: block;
}

.project-pic {
    border-radius: 50%;
    width: 110px;
}

h3 {
    background-color: #D9D9D9;
    padding: 1% 4%; 
    border-radius: 20px;
    text-align: center;
}

.blue_proj-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
    margin: 0;
    background-color: #1967d2;
}

.buy-coffee{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    font-size: medium;
    padding: 0.75%  4%;
    background: #FFFFFF;
    margin: 15px auto;
    border: 3px solid #CACCCE;
    border-radius: 10px;
}

.buy-coffee:focus, .buy-coffee:hover{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

/* details of the project - text */
.proj-details {
    margin: 8px auto;
    padding: 2% 18%; 
    font-size: medium;
    text-decoration: none;
    text-emphasis: none;
}

/* details of the project - box text */
.box_d-text {
    /* width: 110px; */
    text-align: center;
    padding: 0.5% 0.5%;
    font-weight: bold;
    font-size: medium;
    border-radius: 20px;
    background-color: white;
    border: 3px #CACCCE solid;
    color: #313335;
}

.back1-icon {
    position: absolute;
    padding: 1%;
    margin-left: -80%;
    margin-top: 2%;
    background-color: #CACCCE;
    border-radius: 8px;
}

.back1-icon:hover{
    background-color: #0077b5;
    color: white
}

#developer-proj {
    /* //text-decoration: none; */
    color: white;
} 

/* .devproj-details{
    background-color: white;
    color: #313335;
    margin: 8px auto;
    padding: 3% 18%; 
   
    font-size: medium;
    border-radius: 15px;
    text-align: center;
    border: #313335 3px solid;
}  */

#developer-proj:visited {
    /* text-decoration: none; */
    color: white;
}