.blue-area {
    background-color: #1976d2;
    border-radius: 0 0 300px 300px;
    margin-bottom: 2%;
    position: relative;
}

.blue-area-edit {
    background-color: #1976d2;
    border-radius: 0 0 300px 300px;
    padding-bottom: 2%;
    margin-bottom: 2%;
    position: relative;
}

.container-wrap {
    margin: 0% auto 5%;
}

.choose-image {
    position: relative;
    left: 3%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.edit-input {
    padding: 0.5%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}


.flex-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bmcf-logo {
    width: 100px;
    height: 50px;
    padding: 10% 0.5%;
    display: block;
}


.h3-name {
    background-color: #D9D9D9;
    width: max-content;
    padding: 1% 2%;
    border-radius: 15px;
    color: #313335;
    margin-bottom: 4%;
}

.white-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

h5 {
    margin: 8px 15%;
    font-weight: 500;
    font-size: 16px;
}

.box-text {
    width: 110px;
    text-align: center;
    padding: 0.5% 0.25%;
    border-radius: 15px;
    background-color: #313335;
    border: 3px #CACCCE solid;
    color: white;
    margin: 1.25% auto;
}

.edit-user {
    margin-right: 12.5%;
    margin-top: 1%;
    background-color: #CACCCE;
    border: 2px solid #313335;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #313335;
    font-size: 2.5rem !important;
}

.back-icon {
    position: absolute;
    padding: 1%;
    margin-left: -80%;
    margin-top: 2%;
    background-color: #CACCCE;
    border-radius: 8px;
}

.back-icon-edit {
    position: absolute;
    padding: 1%;
    margin-left: 10%;
    margin-top: 2%;
    background-color: #CACCCE;
    border-radius: 8px;
}

.back-icon:hover,
.back-icon-edit:hover {
    background-color: #313335;
    color: white;
}

.oldStartUp-container {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    ;
}

.startup-name {
    margin: 0 15%;
    width: 175px;
}

.button {
    background-color: #1976d2 !important;
}

@media screen and (max-width: 768px) {
    .blue-area {
        border-radius: 0;
    }

    .blue-area-edit {
        border-radius: 0;
    }

    textarea {
        height: 12em;
        width: 30em;
    }

    .box-text {
        margin: 3% auto;
    }

    .button {
        margin-top: 3% !important;
        background-color: #1976d2 !important;
    }

    .edit-name {
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 600px) {
    textarea {
        height: 10em;
        width: 18em;
    }

    .box-text {
        margin: 5% auto;
        font-size: 14px;
    }

    .button {
        margin: 7% auto !important;
        position: relative !important;
        order: 1;
        font-size: 14px !important;
        left: 0px;
    }

    .edit-name {
        margin-bottom: 5%;
    }
    .choose-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .choose-image {
        font-size: 10px;
        width: 70%;
        align-self: center;
    }

    .last-item-mobile {
        margin-bottom: 7%;
    }

    .back-icon-edit {
        margin-top: 5% !important;
    }

    .edit-user{
        margin-right: 8%;
        margin-top: 5%;
        font-size: 1.5rem !important;
    }

    /* * { border: 1px solid red !important; } */
}