.blue-area {
    background-color: #0077B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 300px 300px;
    margin-bottom: 2%;
}

.bmcf-logo {
    width: 120px;
    display: block;
}

.profile-pic {
    border-radius: 50%;
    width: 110px;
}

h3{
    background-color: #D9D9D9;
    padding: 0.75% 1%;
    border-radius: 15px;
}
.white-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}
h5{
    margin:8px auto;
}
.box-text{
    width: 110px;
    text-align: center;
    padding: 0.5% 0.25%;
    border-radius: 15px;
    background-color: #313335;
    border: 3px #CACCCE solid; 
    color: white;
}

.edit-user{
    margin-right: 12.5%;
    margin-top: 1%;  
    background-color: #CACCCE;
    border: 2px solid #313335;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    color: #313335;
    font-size: 2.5rem !important;
}