.grey-area{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-style: bold;
    text-align: center;
}
.bmcflog-logo {
    width: 180px;
    height: 80px;
    /* padding: 10% 0.5%; */
    display: block;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login-input{
    padding: 1% 4%;
    margin: 4px 4px 4px 4px;
    width: 400px;
    height: 40px;
}

.login-buttons{
    padding: 3% 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;

   
}
.login-button{
    background-color: #0077B5;
    color: white;
    border: #000000 solid;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-style: bold;
}
.login-header{
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    font-size: larger;
    /* background-color: white; */
}

.goto-signup{
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-size: medium;
    font-style: bold;
    text-align: center;
    text-decoration: none;
}

.login-button:active, .login-button:focus{
    background-color: white;
    border: #0077B5 solid 4px;
    color: #0077B5;
}
.submit-button{
    padding: 3% 4%;
    margin: 5px 5px 5px 5px ;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 800;
    font-style: bold;
    border-radius: 8px;
    border: #000000 solid;
    background-color: #0077B5;
    color: white;
}

.submit-button:focus,.submit-button:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-button:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    color: #0077B5;
    border: #0077B5 solid 4px;;
}