.sign-up-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: bold;
    text-align: center;
    margin: 2% auto
}

.login-input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-style: bold;
    margin: 2% auto
}

.drop-down-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
.preview-pic {
    margin: 4%;
}

.preview-pic-login{
    margin: 1.5% auto -0.5%;
}

.choose-image-signup{
    position: relative;
    left: 3%;
    font-family: 'Montserrat', sans-serif;
}